In [14]:
n = int(input("Enter n to generate prime numbers:"))
count = 0

for i in range(1,13):
    if n % i == 0:
        count += 1
if count > 2:
    print(n,"is not a prime Number")
else:
    print(n,"is a prime number")

Enter n to generate prime numbers:992
992 is not a prime Number

In [18]:
n = int(input("Enter n:"))
m = int(input("Enter m:"))
for i in range(n , m + 1):
    count = 0
    for j in range(1,12):
        if i % j == 0:
            count += 1
    if count > 2:
        print(i,"is not a prime number")
    else:
        print(i,"is a prime number")

Enter n:10
Enter m:20
10 is not a prime number
11 is a prime number
12 is not a prime number
13 is a prime number
14 is not a prime number
15 is not a prime number
16 is not a prime number
17 is a prime number
18 is not a prime number
19 is a prime number
20 is not a prime number

In [22]:
ls = []
for i in range(6):
    marks = int(input("Enter Student marks:"))
    ls.append(marks)
for i in range(len(ls)):
    if ls[i] >= 90 and ls[i] <= 100:
        print("Student",i + 1,"Grade is o")
    elif ls[i] >= 80 and ls[i] <= 89:
        print("Student",i + 1,"Grade is a")
    elif ls[i] >= 70 and ls[i] <= 79:
        print("Student",i + 1,"Grade is b")
    elif ls[i] >= 60 and ls[i] <= 69:
        print("Student",i + 1,"Grade is c")
    elif ls[i] >= 50 and ls[i] <= 59:
        print("Student",i + 1,"Grade is D")
    else:
        print("Student",i + 1,"Grade is Fail")

Enter Student marks:45
Enter Student marks:55
Enter Student marks:65
Enter Student marks:75
Enter Student marks:85
Enter Student marks:95
[45, 55, 65, 75, 85, 95]
Student 1 Grade is Fail
Student 2 Grade is D
Student 3 Grade is c
Student 4 Grade is b
Student 5 Grade is a
Student 6 Grade is o

In [23]:
ls = [1,"hello","hello",4.5,True]

In [24]:
ls

[1, 'hello', 'hello', 4.5, True]

In [25]:
tup = (1,2,"hello",4.5)

In [27]:
tup

(1, 2, 'hello', 4.5)

In [28]:
type(tup)

tuple

In [29]:
type(ls)

list

In [30]:
set_ = {1,2,2,3,4,5,5}
set_

{1, 2, 3, 4, 5}

In [47]:
stud = {"name":["Akshay","Akshay"],"Roll no":400,"City":"Bangalore","City":"Gvt"}
stud

{'name': ['Akshay', 'Akshay'], 'Roll no': 400, 'City': 'Gvt'}

In [45]:
for i in stud:
    print(i)

name
Roll no
City

In [49]:
stud['City']

'Gvt'

In [39]:
stud["City"]

'Bangalore'

In [12]:
s1 = "hello 'how' are you"
s2 = 'hi how\tare you'
s3 = '''hello \\n"hi"'''
s4 =""" "hello", 'hi' """

print(s1)
print(s2)
print(s3)
print(s4)

hello 'how' are you
hi how	are you
hello \n"hi"
 "hello", 'hi'

In [17]:
s = input("Enter the string:")
if len(s) > 8:
    print("String is not accepted")
else:
    print(s[2:6] * 3)

Enter the string:faheem
heemheemheem

In [42]:
s1 = input("Enter the string:")
if len(s1) < 6:
    print("String must be atleast 6 characters")
else:
    last_char = s1[-2:]
    i = int(len(s1) / 2)
    print("Concatenating Mid Two Chars and Last Two Chars",s1[i - 1:i + 1] + last_char)

Enter the string:Aksh
String must be atleast 6 characters

In [47]:
main_str = input("Enter the main String:")
ls = main_str.split()
sub_str = input("Enter the substring to check in main string:")
for i in ls:
    if i == sub_str:
        print("Sub Str is present in main string")
        break
else:
    print("Su Str is not present in main String")

Enter the main String:bec bgk 123
Enter the substring to check in main string:bgl
Su Str is not present in main String

In [52]:
s = input("Enter the string1:")
s1 = input("Enter the syting2:")
if s == s1:
    print("Both Strings are equal")
elif s > s1:
    print("String1 is greater")
else:
    print("STring2 is greater")

Enter the string1:a
Enter the syting2:a
Both Strings are equal

In [65]:
name = " Aks hay "
name1 = " Aks hay "
name2 = " Aks hay "
nl = name.lstrip()
nr = name1.rstrip()
ns = name2.strip()
print(len(name))
print(nl,len(nl))
print(nr,len(nr))
print(ns,len(ns))

9
Aks hay  8
 Aks hay 8
Aks hay 7

In [73]:
s = input("Enter the Sentence to Check spaces:")
print("Spaces Between Strings:",s.count(" "))

Enter the Sentence to Check spaces:a k s h a y
Spaces Between Strings: 5

In [67]:
name = "akshay gb"
if " " == " ":
    print("s")

s

In [69]:
name.count(" ")

3

In [8]:
s = " im akshay from bangalore "
print("Number of spaces in sentence:",s.count(" "))
print("After Removing extra spaces at left")
print("Space Count:",s.lstrip().count(" "))
print("After Removing extra spaces at left")
print("Space Count:",s.strip().count(" "))
s.strip()

Number of spaces in sentence: 5
After Removing extra spaces at left
Space Count: 4
After Removing extra spaces at left
Space Count: 3

'im akshay from bangalore'

In [18]:
s1 = "bec bgk 123 bec bec"
s1.find("3",0,15)

10

In [19]:
for i in range(len(s1)):
    print(s1[i],"is at loc:",s1.find(s1[i],i))

b is at loc: 0
e is at loc: 1
c is at loc: 2
  is at loc: 3
b is at loc: 4
g is at loc: 5
k is at loc: 6
  is at loc: 7
1 is at loc: 8
2 is at loc: 9
3 is at loc: 10
  is at loc: 11
b is at loc: 12
e is at loc: 13
c is at loc: 14
  is at loc: 15
b is at loc: 16
e is at loc: 17
c is at loc: 18

In [26]:
print(s1.endswith("c"))

True

In [6]:
from datetime import datetime
now = datetime.now()
year = now.year
mon = now.strftime("%B")
print("Current Date:",now,"Current year:",year,"Current Month Name:",mon)
if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print("Current year is leap year!!!")
else:
    print("Current year is not leap year")

Current Date: 2024-06-10 12:48:17.699230 Current year: 2024 Current Month Name: June
Current year is leap year!!!

In [2]:
now

datetime.datetime(2024, 6, 10, 12, 44, 47, 674154)

In [7]:
print("Enter the Numbers with Higher number in each case")
n = int(input("Enter the N:"))
for i in range(n):
    a = int(input("Enter the number greater than prev number:"))
    swa1,swa2 = a, 
    if

Enter the Numbers with Higher number in each case
5

## WEEK 4 ASSIGNMENT 6

In [40]:
ls_tup = eval(input("Enter the List of Tuples:"))
ls_tup_v = []
l = []
for i in range(len(ls_tup)):
    ls_f = []
    ls_tup_v.append(list(ls_tup[i]))
    l.append(ls_tup_v[i][::-1])
lv = sorted(l)
ls_tup_v.clear()
for i in range(len(l)):
    ls_tup_v.append(tuple(lv[i][::-1]))
print(ls_tup_v)

Enter the List of Tuples:[[2,3],(4,4),(1,2),(2,5),(2,1)]
[(2, 1), (1, 2), (2, 3), (4, 4), (2, 5)]

## WEEK 4 ASSIGNMENT 5

In [ ]:
print("Matrix 1")
m = int(input("Enter the m:"))
n = int(input("Enter tge n:"))
mat1 = []
for i in range(m - 1):
    l = []
    print("Enter %dth row elements"%(i + 1))
    for j in range(n):
        n = int(input("Enter elements:"))
        l.append(n)
    mat1.append(l)
print("Matrix 2")
mat2 = []
m1 = int(input("Enter the m:"))
n1 = int(input("Enter tge n:"))
for k in range(m1):
    l = []
    print("Enter %dth row elements"%(i + 1))
    for l in range(n1):
        n = int(input("Enter elements:"))
        l.append(n)
    mat2.append(l)
no_of_ele = m * n
c = 0
if m == m1 and n == n1:
    for i in range(m):
        for j in range(n):
            if mat1[i][j] == mat2[i][j]:
                c += 1
    if c == no_of_ele:
        print("Both Matrices Are Identical")
    else:
        print("Dimension Are Matched But Elements are not Mathcing")
else:
    print("Dimension Are Not Matching")
print("Matrix 1")
print(mat1)
print("Matrix 2")
print(mat2)